
<h1>بررسی نهایی و تایید سفارش</h1>

<table>
  <thead>
    <tr>
      <th>نام محصول</th>
      <th>تعداد</th>
      <th>قیمت واحد (تومان)</th>
      <th>قیمت کل (تومان)</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    <tr>
      <td>{{ item.product.product_name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.product_price }}</td>
      <td>{{ item.quantity}}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">مجموع قیمت: {{ total_price }} تومان</td>
    </tr>
  </tfoot>
</table>

<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-success">تایید و پرداخت</button>
</form>
