{% load static %}


    <!-- COPYRIGHT -->
    <div class="px-4 grid grid-cols-1 sm:grid-cols-2 py-5 border-t text-gray-400">
      <span class="text-xs text-center sm:text-right">
        تمامی حقوق برای نفیس تایر محفوظ است
      </span>
    </div>

</body>
<!-- HEADER -->
<script defer src="{% static 'assets/js/dependencies/flowbite.min.js' %}"></script>
<script defer src="{% static 'assets/js/app.js' %}"></script>
<!-- HERO SLIDER -->
<script src="{% static 'assets/js/dependencies/swiper.min.js' %}"></script>
<script src="{% static 'assets/js/heroSlider.js' %}"></script>
<!-- OFF SLIDER -->
<script src="{% static 'assets/js/slider.js '%}"></script>

<script src="{% static 'assets/js/swiper-product.js' %}"></script>