<div class="mt-10">
            <div class="text-zinc-800 text-lg mb-4">
              سفارش های اخیر من:
            </div>
 {% if orders %}
            <table class="w-full">
                <thead>
                  <tr class="border-y">
                    <th>
                      <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400 py-3">
                        شماره سفارش
                      </p>
                    </th>
                    <th>
                      <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400">
                        تاریخ
                      </p>
                    </th>
                    <th>
                      <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400">
                        مبلغ
                      </p>
                    </th>
                    <th>
                      <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400">
                        آیتم های سفارش
                      </p>
                    </th>
                  </tr>
                </thead>
                <tbody>


            {% for order in orders %}

            <tr class="hover:bg-zinc-100 text-xs md:text-sm">
                    <td class="px-3 py-4 border-b">
                      <p class="text-zinc-700">
                        {{ order.order_number }}
                      </p>
                    </td>
                    <td class="p-3 border-b">
                      <p class="text-zinc-700">
                        {{ order.created_at }}
                      </p>
                    </td>
                    <td class="p-3 border-b">
                      <p class="text-zinc-700">
                        {{ order.total_price }}
                      </p>
                    </td>
                    <td class="p-3 border-b">
                      <p class="text-yellow-500">
                       {% for item in order.orderitem_set.all %}
                            <li>{{ item.product.name }} - تعداد: {{ item.quantity }} - قیمت: {{ item.price }}</li>
                        {% endfor %}
                      </p>
                    </td>
                  </tr>
                   {% endfor %}



                </tbody>
            </table>
     {% else %}
     <p style="background-color: gainsboro">شما هیچ سفارشی ندارید.</p>
   {% endif %}
          </div>