{%  load static %}

<div class="flex flex-wrap justify-center gap-x-5 sm:gap-x-16 gap-y-5 px-3 md:px-10">
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/1.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          موبایل
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/2.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          کالای دیجیتال
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/3.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          لوازم خانه
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/4.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          پوشاک
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/5.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          کالای سوپرمارکت
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/6.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          دفتر و قلم
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/7.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          محصولات بهداشتی
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/8.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          محصولات ورزشی
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/9.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          ابزارآلات
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/10.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          موتور و تجهیزات
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/11.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          کالای سنتی
        </div>
      </a>
      <a href="" class="max-w-28">
        <img class="w-full hover:rotate-6 transition" src="{% static 'assets/image/category/12.png' %}" alt="">
        <div class="text-xs text-center text-zinc-800 mt-2">
          اسباب بازی
        </div>
      </a>
    </div>