 <div
                  class="z-50 mx-5 md:!ml-5 hidden w-auto md:w-[400px] rounded-lg bg-white shadow-lg"
                  id="dropdownBasketDesktop">
                  <!-- Head -->
                  <div class="flex items-center justify-between p-4 pb-2 border-b mx-5">
                    <div class="text-sm text-zinc-500">
                       {{ countcart }} کالا
                    </div>
                  </div>
                  <!-- Items -->
                  <div class="h-60">
                    <ul
                      class="main-scroll h-full space-y-2 divide-y divide-gray-100 overflow-y-auto p-5 pl-2">
                      <li>
                        <div class="flex gap-x-2 py-5">
                          <!-- Product -->
                          <div class="relative min-w-fit">
                            <a href=''>
                              <img
                                alt=""
                                class="h-[120px] w-[120px]"
                                loading="lazy"
                                src="{% static 'assets/image/products/1.webp' %}"/>
                            </a>
                          </div>
                          <div class="w-full space-y-1.5">
                            <!-- Title -->
                            <a class='line-clamp-2 h-12 text-zinc-700' href=''>
                              لپ تاپ مدل لنوو
                            </a>
                            <!-- Attribute -->
                            <div
                              class="flex items-center gap-x-2 text-xs text-zinc-500">
                              <div class="flex items-center gap-x-2">
                                <span
                                  class="h-4 w-4 rounded-full bg-gray-900"></span>
                                <span>مشکی</span>
                              </div>
                            </div>
                            <div
                              class="flex items-center gap-x-2 text-xs text-zinc-500">
                              <div class="flex items-center gap-x-2">
                                <svg class="fill-red-700" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#4d4d4d" viewBox="0 0 256 256"><path d="M245.57,117.78l-14-35a13.93,13.93,0,0,0-13-8.8H182V64a6,6,0,0,0-6-6H24A14,14,0,0,0,10,72V184a14,14,0,0,0,14,14H42.6a30,30,0,0,0,58.8,0h53.2a30,30,0,0,0,58.8,0H232a14,14,0,0,0,14-14V120A6,6,0,0,0,245.57,117.78ZM182,86h36.58a2,2,0,0,1,1.86,1.26L231.14,114H182ZM22,72a2,2,0,0,1,2-2H170v68H22ZM72,210a18,18,0,1,1,18-18A18,18,0,0,1,72,210Zm82.6-24H101.4a30,30,0,0,0-58.8,0H24a2,2,0,0,1-2-2V150H170v15.48A30.1,30.1,0,0,0,154.6,186ZM184,210a18,18,0,1,1,18-18A18,18,0,0,1,184,210Zm50-26a2,2,0,0,1-2,2H213.4A30.05,30.05,0,0,0,184,162c-.67,0-1.34,0-2,.07V126h52Z"></path></svg>
                                <span>ارسال پست پیشتاز</span>
                              </div>
                            </div>
                            <div
                              class="flex items-center justify-between gap-x-2">
                              <!-- Price -->
                              <div
                                class="text-gray-700">
                                <span class="text-lg font-bold">1,800,000</span>
                                <span class="text-sm">تومان</span>
                              </div>
                              <!-- Quantity -->
                              <div
                                class="flex h-10 w-24 items-center justify-between rounded-lg border border-gray-100 px-2 py-1">
                                <button
                                  type="button"
                                  data-action="increment">
                                  <svg xlink:href="#plus" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#4d4d4d" viewBox="0 0 256 256"><path d="M222,128a6,6,0,0,1-6,6H134v82a6,6,0,0,1-12,0V134H40a6,6,0,0,1,0-12h82V40a6,6,0,0,1,12,0v82h82A6,6,0,0,1,222,128Z"></path></svg>
                                </button>
                                <input
                                  value="1"
                                  disabled
                                  type="number"
                                  class="flex h-5 w-full grow select-none items-center justify-center bg-transparent text-center text-sm text-zinc-700 outline-none"/>
                                <button
                                  type="button"
                                  data-action="decrement">
                                  <svg xlink:href="#minus" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#4d4d4d" viewBox="0 0 256 256"><path d="M222,128a6,6,0,0,1-6,6H40a6,6,0,0,1,0-12H216A6,6,0,0,1,222,128Z"></path></svg>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                  <!-- Down Price -->
                  <div
                    class="flex items-center justify-between border-t border-gray-100 p-5">
                    <div class="flex flex-col items-center gap-y-1">
                      <div class="text-sm text-zinc-600">
                        مبلغ قابل پرداخت
                      </div>
                      <div class="text-zinc-600">
                        <span class="font-bold">1,200,000</span>
                        <span class="text-xs">تومان</span>
                      </div>
                    </div>
                    <a href="" class="w-28 py-3 text-sm bg-red-500 hover:bg-red-400 transition text-gray-100 rounded-xl text-center">
                      <button
                        type="button">
                        ثبت سفارش
                      </button>
                    </a>
                  </div>
                </div>