<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرم محصول</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body>
    <div class="container mx-auto p-4">
        <form method="post" id="productForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label for="product_name" class="mb-2 ml-1 text-xs opacity-80 flex">
                    نام محصول
                    <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#4d4d4d" viewBox="0 0 256 256">
                        <path d="M210.23,101.57l-72.6,29,51.11,65.71a6,6,0,0,1-9.48,7.36L128,137.77,76.74,203.68a6,6,0,1,1-9.48-7.36l51.11-65.71-72.6-29a6,6,0,1,1,4.46-11.14L122,119.14V40a6,6,0,0,1,12,0v79.14l71.77-28.71a6,6,0,1,1,4.46,11.14Z"></path>
                    </svg>
                </label>
                    <input type="text" name="product_name" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>


                 <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_number" class="mb-2 ml-1 text-xs opacity-80 flex">
                        تعداد محصول
                    </label>
                    <input type="text" name="product_number" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_price " class="mb-2 ml-1 text-xs opacity-80 flex">
                        قیمت محصول
                    </label>
                    <input type="text" name="product_price " class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
                 <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_stock " class="mb-2 ml-1 text-xs opacity-80 flex">
                        موجودی محصول
                    </label>
                    <input type="text" name="product_brandname" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label for="product_Diameter " class="mb-2 ml-1 text-xs opacity-80 flex">
                    سایز رینگ
                </label>
                <input type="text" name="product_Diameter" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_type" class="mb-2 ml-1 text-xs opacity-80 flex">
                        نوع محصول
                    </label>
                    <input type="text" name="product_type" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_view" class="mb-2 ml-1 text-xs opacity-80 flex">
                        رخ محصول
                    </label>
                    <input type="text" name="product_view" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label for="product_width " class="mb-2 ml-1 text-xs opacity-80 flex">
                    عرض لاستیک
                </label>
                <input type="text" name="product_width " class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
            </div>
             <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_brandname" class="mb-2 ml-1 text-xs opacity-80 flex">
                        برند محصول
                    </label>
                    <input type="text" name="product_brandname" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                 </div>
                 <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_contry " class="mb-2 ml-1 text-xs opacity-80 flex">
                        کشور سازنده محصول
                    </label>
                    <input type="text" name="product_contry " class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
             </div>
            <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_brandname" class="mb-2 ml-1 text-xs opacity-80 flex">
                        برند محصول
                    </label>
                    <input type="text" name="product_brandname" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_layer " class="mb-2 ml-1 text-xs opacity-80 flex">
                        لایه لاستیک
                    </label>
                    <input type="text" name="product_layer " class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
            </div>
             <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_speed " class="mb-2 ml-1 text-xs opacity-80 flex">
                        سرعت تحمل لاستیک
                    </label>
                    <input type="text" name="product_speed " class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
                 <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_weight " class="mb-2 ml-1 text-xs opacity-80 flex">
                        وزن تحمل لاستیک
                    </label>
                    <input type="text" name="product_weight " class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
             </div>
             <div class="flex flex-wrap -mx-3 mb-4">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="product_discountpercent_this" class="mb-2 ml-1 text-xs opacity-80 flex">
                        تخفیف این محصول
                    </label>
                    <input type="text" name="product_discountpercent_this" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label for="product_profitpercent " class="mb-2 ml-1 text-xs opacity-80 flex">
                    سود محصول
                </label>
                <input type="text" name="product_profitpercent " class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
                </div>
             </div>


            <div class="md:w-1/2">
                <label for="product_image" class="mb-2 ml-1 text-xs opacity-80 flex">
                    تصویر محصول
                </label>
                <input type="file" name="product_image" class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300">
            </div>

            <div class="mt-4">
                <button type="submit" id="saveProductBtn" class="bg-red-500 text-white px-4 py-2 rounded-lg">ثبت</button>
            </div>
        </form>
    </div>
<!-- templates/product_form_partial.html -->



<script>
    $(document).ready(function(){
        $('#productForm').submit(function(event){
            event.preventDefault();
            var form = $(this)[0];
            var formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: '{% url "adminpanel:page_1" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response){
                    alert('محصول با موفقیت اضافه شد!');
                },
                error: function(response){
                    alert('خطایی رخ داده است.');
                }
            });
        });
    });
</script>

